---
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";
import MainLayout from "@layout/MainLayout.astro";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data: PokemonListResponse = await resp.json();

const title = "Pokémon Static | Home";
---

<MainLayout title={title}>
  <h1 class="text-3xl">Listado de Pokemons</h1>
  <hr />

  <section
    aria-label="Listado de Pokémons"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-5"
  >
    {
      data.results.map((pokemon) => (
        <PokemonCard name={pokemon.name} url={pokemon.url} />
      ))
    }
  </section>
</MainLayout>
